{% extends "admin/change_list.html" %}

{% block extrahead %}
  {{ block.super }}
  <style>
    /* Oculta el párrafo de ayuda de importación que ya no necesitamos */
    .import-allowed-formats {
      display: none !important;
    }
  </style>
{% endblock %}

{% block object-tools-items %}
  <li>
    {# ESTA LÍNEA CAMBIA #}
    <a href="{% url 'admin:descargar_plantilla_para_modelo' %}?model_name={{ opts.model_name }}" class="button">
    Descargar Plantilla
    </a>
  </li>
  {{ block.super }}
{% endblock %}